<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="{{ site.github.baseurl }}/internal-resources/data/config.json"
      id="prefetch-config-link-element"
      as="fetch"
      crossorigin
      type="application/json"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/v2/assets/favicon.png"
    />
    <title>ML Workflow and Best Practices</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 20px;
      }
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }
      .container-lg {
        max-width: 1200px;
        margin: 0 auto;
      }
      .mermaid {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <header id="tc-header-temp" class="border-bottom"></header>
    <main class="container-lg px-3 mt-4 mb-6 markdown-body">{{ content }}</main>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  </body>
</html>
